@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Картинка в картинке №2</h1>
        <link href="~css/site.css" rel="stylesheet" type="text/css"
        <link href="~css/pr6.css" rel="stylesheet" type="text/css"
</div>
