html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  position: relative;

  color: #fff;
  font-size:20px;
  font-family:Arial;
}

h1{
  position: relative;
  width: 30em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0094ff;
  color: #fff;
}